<h1>ngClass and ngStyle Binding</h1>

<h2>[ngStyle]</h2>

<div class="container">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block',
    }">
    </div>
  </div>
</div>

<h2>[ngClass]</h2>

<label>Nickname:</label>
<input type="text" required #inputLastname="ngModel" [(ngModel)]="person.nickname">
<span class="message-error" [class.error]="inputLastname.invalid">Lastname is required</span>

<hr class="hr--lastname"
  [ngClass]="{
    'valid': inputLastname.valid,
    'invalid': inputLastname.invalid
  }"
/>

<h1>Class and Style Binding</h1>

<h2>[class]</h2>

<label>Nickname:</label>
<input type="text" required #inputNickname="ngModel" [(ngModel)]="person.nickname">
<span class="message-error" [class.error]="inputNickname.invalid">Nickname is required</span>

<label>Username:</label>
<input type="text" required #inputUsername="ngModel" [(ngModel)]="person.nickname">
<span [style.font-style]="inputUsername.invalid ? 'italic' : 'normal'">Username is required</span>

<div class="container">
  <div>
    <input type="text" [(ngModel)]="imgWidth">
  </div>
  <div>
    <img [src]="person.avatar" [style.width.%]="imgWidth">
  </div>
</div>

<hr>

<h1>Control Structures</h1>

<h2>*ngIf</h2>

<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Auxi'">Soy {{ person.name }}</p>
<p *ngIf="person.name === 'Maria' && person.age >= 18; else myBio">Soy {{person.name}} y tengo {{ person.age }}</p>
<ng-template #myBio>
  <p>Soy {{ person.name }}</p>
</ng-template>

<h2>*ngFor</h2>

<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i+1 }}: {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<h2>ngSwitch</h2>

<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Auxi'">Soy {{ person.name }}</p>
  <p *ngSwitchCase="'Maria'">Soy {{ person.name }}</p>
  <p *ngSwitchDefault>No coincide</p>
</div>

<hr>

<h1>Data Binding</h1>

<h2>ngModel Event</h2>

<p>Email: {{ person.email }} </p>
<input type="text" required #emailInput="ngModel" [(ngModel)]="person.email">
<p>Password: {{ person.password }}</p>
<input type="text" required #passwordInput="ngModel" [(ngModel)]="person.password">
<p>Age: {{ person.age }}</p>
<input type="number" max="80" min="21" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Age valid? - {{ ageInput.valid }}</p>

<p>Password and email Valid? - {{ emailInput.valid && passwordInput.valid }}</p>


<hr>

<h1>Event Binding</h1>

<button (click)="send()">Toggle Send</button>

<p>Age: {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>

<br>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nesciunt ipsa, voluptatem modi libero incidunt vero possimus mollitia ipsam totam rem suscipit at molestias molestiae tenetur reiciendis sint minima tempore!</p>
</div>
<br>
<h4>Search</h4>
<input type="search" [value]="person.search" (keyup)="onTyping($event)">
<p>{{ person.search }}</p>

<hr/>


<h1>Binding Properties</h1>
<button [disabled]="sendButtonDisabled">Send</button>
<input type="text" [value]="person.name">
<progress [value]="person.age" [max]="100"></progress>
<img [src]="person.avatar" alt="profile" width="100">

<hr/>
<router-outlet></router-outlet>
<h2 > Welcome to {{ "PISTOO ".repeat(2) }}! </h2>
<p>3 + 5 = {{ 3 + 5 }}</p>


<h3>Hello {{ person.name }} and I'm {{ age }} years old !</h3>
<img src={{person.avatar}} alt="img">
